.task {
  display: flex;
  align-items: center;

  padding: 5px 15px;
  background-color: #fff;

  &__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;

    &.completed {
      text-decoration: line-through;
    }
  }

  &__btn {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    outline: none;

    & > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & path {
      fill: rgba(0, 0, 0, 0.5)
    }

    &--toggle {
      margin-right: 10px;
      transition: all .2s ease;

      &.completed {
        background-color: #4dd599;

        & path {
          fill: #fff
        }
      }

      svg {
        opacity: 0;
        transition: all .2s ease;
      }

      &:hover,
      &.completed {
        & > svg {
          opacity: 1;
        }
      }
    }

    &--remove {
      visibility: hidden;
      margin-left: auto;
      transition: all .2s ease;
      transform: scale(0);
      opacity: 0;

      .task:hover & {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
  }
}